:root {
    --color-light: aquamarine;
    --color-mid: cadetblue;
    --color-dark: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-light);
    background-color: var(--color-dark);
}

h1, h2 {
    text-align: center;
}

form {
    width: max-content;
    height: max-content;
    border: var(--color-light) 2px solid;
    border-radius: 1em;
    padding: 2em;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

.form-main {
    display: flex;
    margin: 2em 0;
}

.form-end {
    text-align: center;
}

.file-placeholder {
    width: 25vw;
    height: 50vh;
    border: 2px dashed var(--color-mid);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

iframe {
    width: 25vw;
    height: 50vh;
    border: 1px solid var(--color-mid);
}

.file-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text], input[type=number], select, option {
    background-color: inherit;
    color: inherit;
    padding: 0.25em;
    border: 1px solid var(--color-light);
    border-radius: 0.25em;
}

input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    border: 0.2em solid var(--color-dark);
    background-color: var(--color-dark);
    border-radius: 50%;
    outline: 2px solid var(--color-mid);
}

input[type=radio]:hover {
    outline-color: var(--color-light);
}

input[type=radio]:checked {
    outline-color: var(--color-light);
    background-color: var(--color-light);
}

button, .file-preview label {
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1em;
    background-color: var(--color-dark);
    border: 1px solid var(--color-light);
    color: var(--color-light);
}

button:hover, .file-preview label:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
    cursor: pointer;
}

.form-section {
    margin: 2em;
}

.input-set {
    margin: 2em 0;
}

.radio-grp {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5em;
}

.radio-grp label, .file-preview label {
    display: block;
    width: fit-content;
}

.errorMsg {
    color: tomato;
}